# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.Juego-que-deberia-ser-en-JavaScript-pero-lo-estamos-haciendo-en-C-en-Unity-porque-nos-da-igual-todo.iml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
